<!DOCTYPE html>
<html>
<head>
<title>HW5</title>
</head>
<body>
<form action="/submit-student-data" method="get">
	<input name="firstName" type="text" /> <br />
	<input name="lastName" type="text" /> 
        <input type="submit" value="submit" />
    </form>
</body>
</html>